body {
    font-family: 'Lucida Sans Typewriter', monospace;
}

.hidden {
    display: none;
}

img {
    margin: 0.1cm;
    max-width: calc(100% - 0.2cm);
}

img.icon {
    width: 1cm;
    height: auto;
}

ul.widecards img, img.widecards {
    width: auto;
    max-height: 5cm;
}

ul.tallcards img, img.tallcards {
    max-width: 5cm;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: block;
}

ul.tallcards {
    white-space: nowrap;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}

.textbox {
    margin: 0.1cm;
    height: 1em;
}

.error {
    color: red;
}

div {
    max-width: 100vw;
    max-height: 100vh;
}

form > table {
    border: 1px solid;
    font-size: 10pt;
}

form > table > thead {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
}

form td {
    vertical-align: middle;
}

td {
    vertical-align: top;
}

td.wide {
    width: 50%;
}

td.narrow {
    width: 25%;
}

textarea, input[type="text"], input[type="numeric"] {
    padding: 1pt;
    margin: 0;
    border: 0;
    background-color: #ddd;
}

textarea {
    width: 100%;
}

.disabled, [disabled] {
    opacity: 50%;
    color: gray;
}

.clock {
    font-size: 500%;
    text-align: center;
}
