body {
    font-family: 'Lucida Sans Typewriter', monospace;
}

.hidden {
    display: none;
}

img {
    width: 20%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0.1cm 0;
    white-space: nowrap;
    display: block;
}

li {
    display: inline;
    margin: 0 0.1cm;
}

#suspect-id {
    margin: 0.1cm;
    font-family: 'Lucida Sans Typewriter', monospace;
    height: 1em;
}
